body {
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.logos {
  position: fixed;
  top: 5px;
  left: 5px;
  height: 50;
}

#appContainer {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    'map1 map1 gallery '
    'histogram histogram gallery '
    'timeline timeline timeline ';
  grid-template-rows: 500px auto auto;
  grid-template-columns: auto auto 50%;

  gap: 10px;
  background-color: black;
  padding: 10px;
}

/* .map {
  position: relative;
} */
.mapLayer {
  position: absolute;
  top: 0;
  left: 0;
}

#map1,
#map2 {
  position: relative;
}

#map1 {
  grid-area: map1;
}

#timeline {
  grid-area: timeline;
  width: 100vw;
  height: 100px;
}

#hist1 {
  grid-area: histogram;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timeDisplay {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: large;
}

.gallery {
  grid-area: gallery;
  overflow: scroll;
  height: calc(100vh - 200px);
  width: 46vw;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}

.galleryItem {
  /* flex: auto; */
  /* width: 240px; */
  height: calc(3 / 4 / 3 * 46vw);
  position: relative;
  margin: 3px;
}
.galleryItem:last-of-type {
  width: 400px;
  height: 300px;
}

.galleryItem img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.galleryItem .credits {
  font-size: small;
  position: absolute;
  top: 2px;
  right: 2px;
  color: black;
}

.galleryItem .caption {
  font-size: medium;
  background-color: black;
  width: 100%;
}
