body {
  font-family: Arial, Helvetica, sans-serif;
}

#appContainer {
  display: flex;
  flex-wrap: wrap;
}

/* .map {
  position: relative;
} */
.mapLayer {
  position: absolute;
  top: 0;
  left: 0;
}

#map1,
#map2 {
  position: relative;
}

#timeDisplay {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: large;
}
