body {
  color: white;
  font-size: larger;
}

.sphere {
  fill: none;
  stroke: black;
}

.land {
  fill: bisque;
}

.city {
  fill: rgb(246, 108, 108);
}

.place-label {
  font-family: sans-serif;
}

.tectonic {
  fill: none;
  stroke: blue;
  stroke-width: 1px;
  opacity: 0.5;
}

#hist1 {
  text-align: center;
}

.histBins {
  fill: #69b3a2;
}

.x_label,
.y_label {
  font-size: medium;
}

.tick {
  font-size: medium;
}

#gallery {
  background-color: gray;
  border-radius: 10px;
}
